*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d0d4d5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%
}

#main{
    height: 100%;
    width: 100%;
    background-color: #d0d4d5;
    position: relative;
}
#nav{ 
    height: 100px;
    padding: 0 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 37px;
    margin-right: 200px;
} 
#nav-prt1{
    display: flex;
    align-items: center;
    justify-content: center;   
}
#nav-prt1 h4{
    margin-right: 90px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
}
#nav-prt2 i{
    margin-right: 60px;
    font-size: 26px;
    font-weight: 500;
}   
#content{
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}
#left{
    width: 35%;
    height: 100%;
    padding: 120px 150px;
}
#left h5{
    font-size: 20px;
    margin-bottom: 20px;
    color: #535353;
}
#left h1{
    font-size: 90px;
    margin-bottom: 30px;
    line-height: 80px;
    text-transform: uppercase;
}
#left p{
    font-size: 18px;
    width: 125%;
    margin-bottom: 50px;
}
#left button{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 43px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    text-transform: uppercase;
}
#right{
    height: 100%;
    width: 65%;
    position: relative;
    padding: 150px;
    white-space: nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 520px;
    width: 380px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.3);
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}
.elem img{
    height: 70%;
    width: 100%;
    top: 7%;
    object-fit: cover;
    position: absolute;
    transform: scaleX(-1);
}
.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #d0d4d5;
    padding: 17px 34px;
    border-radius: 6px;
}
.elem h5{
    position: absolute;
    bottom: 10%;
    right: 0;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    padding: 17px 34px;
    font-size: 13px;
    border-radius: 6px;
}
.container {
    display: flex; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .column {
    flex: 1; 
    padding: 20px;
  }
  
  .column h1 {
    font-size: 38px;
    color: #333;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .column p {
    font-size: 19px;
    color: #666;
    text-align: justify;
  }
  #section{
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}
#section img{
    width: 100%;
    margin-top: 190px;
    object-fit: cover;
}
#section h1{
    font-size: 90px;
    line-height: 80px;
    color: #333;
    margin-top: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#section p{
    font-size: 18px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
  .yellow-section {
  padding: 20px;
  display: flex;
  background-color: yellow;
  justify-content: space-between; /* To push content to the edges */
  align-items: center; /* Center align the content vertically */
}

.left-content {
  flex: 1; /* Take up as much space as possible */
  text-align: right; /* Right align the content */
}

.left-content h2 {
  text-transform: uppercase; /* Uppercase the text */
  color: #333;
  font-size: 24px;
  font-weight: bold;
  background-color: yellow;
  margin: 0;
  padding: 10px;
}

.right-content {
  flex: 1; /* Take up as much space as possible */
  text-align: left; /* Left align the content */
  background-color: yellow;
}

.signup-button {
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-transform: uppercase; /* Uppercase the text */
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.contacts{
    height: 100px;
    padding: 0 680px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    font-size: 26px;
    font-weight: 500;
}
